$facebook:#4267b2;
$linkedin:#0e76a8;
$github:#171515;
$stackoverflow:#ef8236;
$twitter:#00acee;

.title-text {
    font: normal bold 50px/72px 'Poppins';
}

.text-uppercase {
    text-transform: uppercase;
}